body {
    background-color: darkslategrey;
    display: flex;
    justify-content: flex-end;
    margin: 0 100px;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator {
    border: 4px solid black;
    background-color: darkgray;
    border-radius: 5px;
    padding: 8px;
}

.screen-container {
    border: 3px solid black;
    border-radius: 5px;
}

.screen-upper {
    /* border: 2px solid red; */
    height: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 8px;
    font-size: 0.8rem;
}

.screen-lower {
    /* border: 2px solid greenyellow; */
    font-size: 1.1rem;
    height: 60px;
    background-color: lightgray;
    padding: 4px 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.row {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.btn {
    width: 3.5rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: lightgray;
    margin: 10px 0 0 0;
    padding: 1rem;

}

.top-row {
    width: 7rem;
}